v1.0/faiss_index/
v1.0/bm25_retriever.pkl
v1.0/groq_keys.py

v1.1/faiss_index/
v1.1/bm25_retriever.pkl
v1.1/groq_keys.py

v1.2/faiss_index/
v1.2/bm25_retriever.pkl
v1.2/openai_keys.py

v1.3/faiss_index/
v1.3/bm25_retriever.pkl
v1.3/openai_keys.py
v1.3/emrecan/

v1.4/faiss_index/
v1.4/bm25_retriever.pkl
v1.4/openai_keys.py
v1.4/emrecan/

v1.4.1/faiss_index/
v1.4.1/bm25_retriever.pkl
v1.4.1/openai_keys.py
v1.4.1/emrecan/

v1.5/faiss_index/
v1.5/bm25_retriever.pkl
v1.5/google_keys.py

v1.5.1/emrecan/
v1.5.1/bm25_retriever.pkl
v1.5.1/emrecan_faiss_index/
v1.5.1/google_faiss_index/
v1.5.1/openai_keys.py
v1.5.1/google_keys.py
